/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --dark-black: #333333;
  --light-black: #7D7D7D;
  --brand-blue :#525DED;
  --brand-orange : #FFA500;
}

/* .container{
  margin: 20px 80px;
} */


.notoFonts {
  font-family: 'Noto Sans', sans-serif;
}

.lexendFonts {
  font-family: 'Lexend Deca', sans-serif;
}